<th:block>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this product?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a th:href = "@{/product/delete/{id}(id=${product.id},title = ${#request.getParameter('title')}, category =${#request.getParameter('category')}, code =
                        ${#request.getParameter('code')})}" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>
</th:block>